{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} App Name {% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
	{% endblock %}
</head>
<body>
    <div id="app">
        {% block content %} 
        {% endblock %}
    </div>
    
    {% block scripts %} 
        <script src="{% static 'js/app.js' %}"></script>
    {% endblock %}
</body>
</html>